[Unit]
Description=MonkeyMoney API
After=network.target

[Service]
ExecStart=/home/ubuntu/monkeymoney/api/venv/bin/gunicorn --timeout=60 -w=3 --worker-class='roll.worker.Worker' --bind='unix:/tmp/monkeymoney-api.sock' app:app
WorkingDirectory=/home/ubuntu/monkeymoney/api
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monkeymoney-api
#User=<alternate user>
#Group=<alternate group>
Environment="".

[Install]
WantedBy=multi-user.target
